:root {
    --indent-left: 80px;
    --indent-logo-padding: 3px;
    --logo-text: 64px;
}

@include media-breakpoint-up(sm) {
    :root {
        --indent-left: 100px;
        --indent-logo-padding: 5px;
        --logo-text: 84px;
    }
}


@include media-breakpoint-up(lg) {
    :root {
        --indent-left: 134px;
        --indent-logo-padding: 8px;
        --logo-text:120px;
    }
}



//***** Navbar *****//
.navbar {
    z-index: 99;
    color: #fff;
    height: calc(var(--top-distance-1) * 0.8);
}

.navbar-overlay {
    height: var(--top-distance-1);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    width: 100%;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.4s 0s;
}

[data-scrolling-direction="up"] .navbar-overlay {
    opacity: 1;
}

.logo {
    position: relative;
    z-index: 9999;
    color: #fff;
}

.logo .left {
    width: var(--indent-left);
    position: relative;
}


@include media-breakpoint-up(md) {
   
    [data-barba-namespace="light-page"].pageTransitionEnter .logo {
        color: black;
        transition: color 0.6s 0.4s, opacity 0.3s 0s, transform 0.3s 0s;
    }
    [data-barba-namespace="light-page"].nav-open .logo {
        color: white;
        transition: color 0.6s 0.2s, opacity 0.3s 0s, transform 0.3s 0s;
    }
    
    [data-barba-namespace="light-page"].pageTransitionLeave:not(.nav-open) .logo,  {
        color: black;
        animation-name: cool;
        animation-delay: 0.2s;
        animation-duration: .6s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        animation-direction: alternate;
    }
}

@keyframes cool {
    0% {
        color: black
    }
    100% {
        color: white
    }
}

// .pageTransitiontoLight .logo{
//     color: #000;
// }


.logo .right {
    width: var(--logo-text);
    margin-left: var(--indent-logo-padding);
}

.spacer {
    height: var(--top-distance-1);
}

// Nav height helper
.navHeight {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    //opacity: 0;
    pointer-events: none;
    z-index: 999;
    width: 100%;
    height: 0;
    //background-color: #fff;
    transform-origin: left top;
    transform: translateY(0) rotate(var(--rotate-degree)) scaleX(1) scaleY(1);
    --top-distance-1: 0px;
}

.pixel {
    position: absolute;
    top: 3px;
    right: 0;
    // width: 4px;
    // height: 4px;
    // background-color: red;
}

.rotate-element {
    transform: translateY(0) rotate(var(--rotate-degree)) scaleX(1) scaleY(1);
    transform-origin: left;
}

// Scrolling stuff up and down
.navbar {
    perspective: 800px;
}
.nav-srcoll {
    transition: opacity 0.3s 0s, transform 0.3s 0s;
    transform-origin: top left;
}
[data-scrolling-started="true"] main:not(.nav-open) .navbar {
    pointer-events: none;
}

[data-scrolling-started="true"] main:not(.nav-open) .nav-srcoll {
    opacity: 0;
    //transform: translateY(-20px);
}

main.nav-open .nav-srcoll {
    transition-delay: 0.6s;
}


[data-scrolling-started="true"] .nav-menu {
    pointer-events: auto;
}

.nav-menu .text-transparent {
    transition: color 0.3s;
}
[data-scrolling-started="true"] .nav-menu .text-transparent{
    color:var(--bs-violet)!important
}


//***** Full screen nav *****//
.navigation-full {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;
    display: flex;
    z-index: 50;
}

.nav-open .navigation-full {
    pointer-events: auto;
}


.navigation-container {
    //position: absolute;
    display: flex;
    padding-top: var(--top-distance-1);
    //margin-top: auto;
    //margin-bottom: auto;
    width: 100%;
    z-index: 999;
    //top: var(--top-distance-1);
    transition: opacity 0.6s 0s;
}

.navigation-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navigation-container .single-word-inner{
    transform: translateY(110%) rotate(var(--rotate-degree))!important;
    transition: transform 0.6s cubic-bezier(0.87, 0, 0.13, 1) 0s;
}
.nav-open .navigation-container .single-word-inner{
    transform: translateY(0%) rotate(0.001deg)!important;
    transition: transform var(--animation-primary-expo) 0.2s;
}

.pageTransitionLeave.nav-open .navigation-container .single-word-inner{
    transform-origin: top right;
    transform: translateY(-110%) rotate(var(--rotate-degree))!important;
    transition: transform 0.6s cubic-bezier(0.87, 0, 0.13, 1) 0s;
}

.navigation-container .main-nav li:nth-child(1) .single-word-inner{
    transition-delay: 0s;
}
.navigation-container .main-nav li:nth-child(2) .single-word-inner{
    transition-delay: 0.03s;
}
.navigation-container .main-nav li:nth-child(3) .single-word-inner{
    transition-delay: 0.06s;
}
.navigation-container .main-nav li:nth-child(4) .single-word-inner{
    transition-delay: 0.09s;
}
.navigation-container .main-nav li:nth-child(5) .single-word-inner{
    transition-delay: 0.12s;
}
.navigation-container .main-nav li:nth-child(6) .single-word-inner{
    transition-delay: 0.15s;
}
.navigation-container .main-nav li:nth-child(7) .single-word-inner{
    transition-delay: 0.18s;
}
.navigation-container .main-nav li:nth-child(8) .single-word-inner{
    transition-delay: 0.21s;
}


.nav-open .navigation-container .main-nav li:nth-child(1) .single-word-inner{
    transition-delay: 0.2s;
}
.nav-open .navigation-container .main-nav li:nth-child(2) .single-word-inner{
    transition-delay: 0.23s;
}
.nav-open .navigation-container .main-nav li:nth-child(3) .single-word-inner{
    transition-delay: 0.26s;
}
.nav-open .navigation-container .main-nav li:nth-child(4) .single-word-inner{
    transition-delay: 0.29s;
}
.nav-open .navigation-container .main-nav li:nth-child(5) .single-word-inner{
    transition-delay: 0.32s;
}
.nav-open .navigation-container .main-nav li:nth-child(6) .single-word-inner{
    transition-delay: 0.35s;
}
.nav-open .navigation-container .main-nav li:nth-child(7) .single-word-inner{
    transition-delay: 0.38s;
}
.nav-open .navigation-container .main-nav li:nth-child(8) .single-word-inner{
    transition-delay: 0.41s;
}




// Nav bg overlay
.nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(var(--bs-indigo-rgb), 0.8);
    z-index: 0;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.4s 0s;
    //backdrop-filter: blur(10px);
}

.nav-open .nav-overlay {
    opacity: 1;
    transition: opacity 0.4s 0.5s;
}

// Circle reveal
.navigation-full .circle-hero {
    clip-path: polygon(0 0, 0 100%, 0 100%, 0 300%);
    background-color: var(--bs-violet);
    transition:clip-path var(--animation-primary-expo) 0.2s;
    height: 120vw;
    min-height: 120vh;
}
.nav-open .navigation-full .circle-hero, .clip-path-it {
    clip-path: polygon(0 0, 0 100%, 100% 100%, 180% calc(var(--top-distance-1) * 1.78));
    transition:clip-path var(--animation-primary-expo) 0s;
}

.pageTransitionLeave.nav-open .navigation-full .circle-hero {
    clip-path: polygon(0 0, 0 100%, 100% 100%, 180% 0);
}

@include media-breakpoint-down(md) {
    .navigation-full .circle-hero {
        top:var(--top-distance-1);
        height: 250vh;
    }
    .pageTransitionLeave.nav-open .navigation-full .circle-hero {
        clip-path: polygon(0 0, 0 100%, 100% 100%, 0% 100%);
        transition-delay:  0.2s;
    }
    .nav-open .navigation-full .circle-hero {
        clip-path: polygon(0 0, 0 100%, 100% 100%, 180% calc(var(--top-distance-1) * 1));
    }

    .clip-path-it {
        clip-path: polygon(0 0, 0 100%, 100% 100%, 180% calc(var(--top-distance-1) * 1.3));
    }
}



.navigation-full .circle-hero-inner {
    transition:opacity 0.5s 0.4s;
    transform-origin: top left;

}
.pageTransitionLeave.nav-open .navigation-full  .circle-hero-inner { 
    opacity: 0;
}

.pageTransitionLeave .navigation-full {
    pointer-events: none;
}


@include media-breakpoint-up(md) {
    .circle-holder {
        top: 0;
    }

    .nav-open .circle-holder {
        top: 0;
    }

    .pageTransitionLeave.nav-open .circle-holder {
        transform: translateY(0) rotate(-90deg) scaleX(1) scaleY(1);
    }
}


// Nav items
.main-nav {
    position: relative;
    text-align: right;
    line-height: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
ul.main-nav>li {
    margin-right: 0;
    position: relative;
}
ul.main-nav>li>a {
    //white-space: nowrap;
    position: relative;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-family: var(--bs-font-secondary);
    @include font-size(6rem);
    padding: 12px 10px 0 10px;
    //font-size: 12vh;
    line-height: 0.85;
    font-weight: 700;
    text-transform: uppercase;
    //transform-origin: right;
    //background-image: linear-gradient(90deg, var(--bs-yellow), var(--bs-yellow));
    //background-repeat: no-repeat;
    //background-position: bottom;
    //background-size: 100% 0%;
    //transition: background-size  0.3s cubic-bezier(0.215, 0.61, 0.355, 1), color 0.4s, letter-spacing 0.3s;
    transition: color 0.4s, letter-spacing 0.3s;
    user-select: none;
}

@media (hover: hover) {
    ul.main-nav>li>a:hover {
        letter-spacing: 3px;
        //background-size: 100% 100%;
        color: inherit;
        color: var(--bs-indigo);
        color: var(--bs-yellow);
        background-position: top;
    }
}


@include media-breakpoint-down(md) {
    ul.main-nav>li>a {
        font-size: 7vw;
        padding: 5px 0;
    }
}
@include media-breakpoint-down(sm) {
    ul.main-nav>li>a {
        font-size: 10vw;
    }
}

@media (min-width: 1600px) {
    ul.main-nav>li>a  {
        font-size: 6rem;
        
    }
}

// Social
.nav-social {
    opacity: 0;
    display: flex;
    gap: 18px;
    justify-content: end;
    align-items: center;
    //margin-top: auto;
    padding: 0 0 20px 0;
    transition: opacity 0.4s 0s;
}
.nav-social li a {
    color: currentColor;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    padding: 4px 0;
    position: relative;
}
.nav-social li a:before {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: currentColor;
    transform: translateY(0) scaleX(0);
    display: inline-block;
    transition: transform 0.2s;
    transform-origin: right;
}
.nav-social li a:hover:before {
    transform: translateY(0) scaleX(1);
    transform-origin: left;
}

.nav-open .nav-social {
    opacity: 1;
    transition: opacity 0.4s 0.4s;
}
.pageTransitionLeave .nav-social {
    opacity: 0;
    transition: opacity 0.4s 0.2s;
}


@include media-breakpoint-down(sm) {
    .nav-social {
        gap: 10px;
    }
    .nav-social li a {
        font-size: 13px;
    }
}


ul.main-nav>li.current-menu-item:after {
    content: "";
    position: absolute;
    right: -25px;
    top: 5px;
    display: inline-block;
    width: 23px;
    height: 23px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M11.3518 0C5.08227 0 0 5.08226 0 11.352C0 17.6218 5.08252 22.7038 11.3518 22.7038C17.621 22.7038 22.7036 17.6215 22.7036 11.352C22.7036 5.08252 17.621 0 11.3518 0ZM11.3518 15.2977C9.17245 15.2977 7.40585 13.5311 7.40585 11.352C7.40585 9.17296 9.17245 7.4061 11.3518 7.4061C13.5311 7.4061 15.2977 9.17296 15.2977 11.352C15.2977 13.5311 13.5311 15.2977 11.3518 15.2977Z' fill='%23FFF05A'/%3E %3C/svg%3E ");
    background-repeat: no-repeat;
    background-size: cover;
    scale: 0;
    transform-origin: center;
    transition: scale 0.2s 0s;
}

.nav-open ul.main-nav>li.current-menu-item:after {
    scale: 1;
    transition: scale 0.2s 0.9s;
}

.pageTransitionLeave ul.main-nav>li.current-menu-item:after {
    scale: 0;
    transition: scale 0.2s 0.2s;
}

@include media-breakpoint-down(lg) {
    ul.main-nav>li.current-menu-item:after {
        right: -18px;
        width: 18px;
        height: 18px;
    }
}
@include media-breakpoint-down(md) {
    ul.main-nav>li.current-menu-item:after {
        right: -16px;
        width: 16px;
        height: 16px;
        top: 5px;
    }
}
@include media-breakpoint-down(sm) {
    ul.main-nav>li.current-menu-item:after {
        right: -14px;
        width: 14px;
        height: 14px;
    }
}


// ul.main-nav>li.current-menu-item .active .single-word-inner {
//     display: inline-block;
//     width: 23px;
//     background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cpath d='M11.3518 0C5.08227 0 0 5.08226 0 11.352C0 17.6218 5.08252 22.7038 11.3518 22.7038C17.621 22.7038 22.7036 17.6215 22.7036 11.352C22.7036 5.08252 17.621 0 11.3518 0ZM11.3518 15.2977C9.17245 15.2977 7.40585 13.5311 7.40585 11.352C7.40585 9.17296 9.17245 7.4061 11.3518 7.4061C13.5311 7.4061 15.2977 9.17296 15.2977 11.352C15.2977 13.5311 13.5311 15.2977 11.3518 15.2977Z' fill='%23FFF05A'/%3E %3C/svg%3E ");
//     background-repeat: no-repeat;
// }
// ul.main-nav>li.current-menu-item a {
//     //pointer-events: none;
//     letter-spacing: 0;
//     color: #fff;
// }


